html, body {
  margin: 0;
  font-family: Roboto;
}
h2, h3, p {
  margin: 0;
}
a {
  text-decoration-line: none;
}
img {
  border-radius: 8px;
}
.container {
  width: 100%;
  max-width: 1479px;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 335px;
  }
}
